In [1]:
import pandas as pd

df = pd.read_csv("data_moods.csv")
df.head()

,name,album,artist,id,release_date,popularity,length,danceability,acousticness,energy,instrumentalness,liveness,valence,loudness,speechiness,tempo,key,time_signature,mood
0,1999,1999,Prince,2H7PHVdQ3mXqEHXcvclTB0,1982-10-27,68,379266,0.866,0.13700,0.730,0.000000,0.0843,0.625,-8.201,0.0767,118.523,5,4,Happy
1,23,23,Blonde Redhead,4HIwL9ii9CcXpTOTzMq0MP,2007-04-16,43,318800,0.381,0.01890,0.832,0.196000,0.1530,0.166,-5.069,0.0492,120.255,8,4,Sad
2,9 Crimes,9,Damien Rice,5GZEeowhvSieFDiR8fQ2im,2006-11-06,60,217946,0.346,0.91300,0.139,0.000077,0.0934,0.116,-15.326,0.0321,136.168,0,4,Sad
3,99 Luftballons,99 Luftballons,Nena,6HA97v4wEGQ5TUClRM0XLc,1984-08-21,2,233000,0.466,0.08900,0.438,0.000006,0.1130,0.587,-12.858,0.0608,193.100,4,4,Happy
4,A Boy Brushed Red Living In Black And White,They're Only Chasing Safety,Underoath,47IWLfIKOKhFnz1FUEUIkE,2004-01-01,60,268000,0.419,0.00171,0.932,0.000000,0.1370,0.445,-3.604,0.1060,169.881,1,4,Energetic

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              686 non-null    object
 1   album             686 non-null    object
 2   artist            686 non-null    object
 3   id                686 non-null    object
 4   release_date      686 non-null    object
 5   popularity        686 non-null    int64
 6   length            686 non-null    int64
 7   danceability      686 non-null    float64
 8   acousticness      686 non-null    float64
 9   energy            686 non-null    float64
 10  instrumentalness  686 non-null    float64
 11  liveness          686 non-null    float64
 12  valence           686 non-null    float64
 13  loudness          686 non-null    float64
 14  speechiness       686 non-null    float64
 15  tempo             686 non-null    float64
 16  key               686 non-null    int64
 17  time_signature    686 non-null    int64
 18  mood              686 non-null    object
dtypes: float64(9), int64(4), object(6)
memory usage: 102.0+ KB

There are no null values in the training set.

The target is mood. It is unlikely that `length`, `name`,`album`, `artist`, `id`, and `release_date` would be helpful in identifying the mood, so I would drop them. Also, drop the columns not in the training set.

In [3]:
df.drop(columns=['name','album','artist','id','release_date', 'length', 'time_signature'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   popularity        686 non-null    int64
 1   danceability      686 non-null    float64
 2   acousticness      686 non-null    float64
 3   energy            686 non-null    float64
 4   instrumentalness  686 non-null    float64
 5   liveness          686 non-null    float64
 6   valence           686 non-null    float64
 7   loudness          686 non-null    float64
 8   speechiness       686 non-null    float64
 9   tempo             686 non-null    float64
 10  key               686 non-null    int64
 11  mood              686 non-null    object
dtypes: float64(9), int64(2), object(1)
memory usage: 64.4+ KB

In [4]:
df.describe()

,popularity,danceability,acousticness,energy,instrumentalness,liveness,valence,loudness,speechiness,tempo,key
count,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000
mean,41.534985,0.500553,0.449749,0.507693,0.349610,0.166867,0.342438,-11.531020,0.053946,119.134679,5.335277
std,23.045707,0.158955,0.410729,0.326490,0.410517,0.142128,0.252304,7.468629,0.041374,28.978685,3.550858
min,0.000000,0.078900,0.000005,0.001290,0.000000,0.031800,0.035300,-42.018000,0.023200,50.960000,0.000000
25%,30.000000,0.388000,0.014825,0.202000,0.000034,0.092500,0.131250,-15.858750,0.033200,99.008750,2.000000
50%,47.000000,0.505000,0.359000,0.495500,0.026350,0.111000,0.282000,-9.358000,0.040700,120.071000,6.000000
75%,57.000000,0.612000,0.905750,0.844000,0.858250,0.173750,0.508750,-5.634500,0.057375,132.953250,9.000000
max,88.000000,0.941000,0.996000,0.994000,0.966000,0.963000,0.977000,1.342000,0.416000,217.950000,11.000000

In [5]:
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(df.iloc[:,:-1], df.mood, test_size=0.1)

In [6]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 617 entries, 230 to 513
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   popularity        617 non-null    int64
 1   danceability      617 non-null    float64
 2   acousticness      617 non-null    float64
 3   energy            617 non-null    float64
 4   instrumentalness  617 non-null    float64
 5   liveness          617 non-null    float64
 6   valence           617 non-null    float64
 7   loudness          617 non-null    float64
 8   speechiness       617 non-null    float64
 9   tempo             617 non-null    float64
 10  key               617 non-null    int64
dtypes: float64(9), int64(2)
memory usage: 57.8 KB

Prepare the data for classification

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(train_y)
train_y = le.transform(train_y)
test_y = le.transform(test_y)

In [8]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

xgb = XGBClassifier(objective="reg:squarederror", learning_rate=0.085, max_depth=11, subsample=0.65, 
                    colsample_bytree=0.845, reg_alpha=0.303, reg_lambda=0.096,gamma=0.01,n_estimators=94)
xgb.fit(train_x, train_y)
accuracy_score(test_y, xgb.predict(test_x))

0.855072463768116

Accuracy is good enough.

In [9]:
data = pd.read_csv("data.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170653 entries, 0 to 170652
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   valence           170653 non-null  float64
 1   year              170653 non-null  int64
 2   acousticness      170653 non-null  float64
 3   artists           170653 non-null  object
 4   danceability      170653 non-null  float64
 5   duration_ms       170653 non-null  int64
 6   energy            170653 non-null  float64
 7   explicit          170653 non-null  int64
 8   id                170653 non-null  object
 9   instrumentalness  170653 non-null  float64
 10  key               170653 non-null  int64
 11  liveness          170653 non-null  float64
 12  loudness          170653 non-null  float64
 13  mode              170653 non-null  int64
 14  name              170653 non-null  object
 15  popularity        170653 non-null  int64
 16  release_date      170653 non-null  object
 17  speechiness       170653 non-null  float64
 18  tempo             170653 non-null  float64
dtypes: float64(9), int64(6), object(4)
memory usage: 24.7+ MB

There are no null values in the test set either.

Make the test set columns align with the training set.

In [10]:
data_id = data[['name', 'artists', 'id']]
data= data[['popularity', 'danceability', 'acousticness', 'energy', 'instrumentalness', 'liveness', 'valence', 'loudness', 'speechiness', 'tempo', 'key']]

In [11]:
results = xgb.predict(data)
results = le.inverse_transform(results)
data_id['mood'] = results
data_id.head()

,name,artists,id,mood
0,"Piano Concerto No. 3 in D Minor, Op. 30: III. ...","['Sergei Rachmaninoff', 'James Levine', 'Berli...",4BJqT0PrAfrxzMOxytFOIz,Calm
1,Clancy Lowered the Boom,['Dennis Day'],7xPhfUan2yNtyFG0cUWkt8,Sad
2,Gati Bali,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,1o6I8BglA6ylDMrIELygv1,Calm
3,Danny Boy,['Frank Parker'],3ftBPsC5vPBKxYSee08FDH,Sad
4,When Irish Eyes Are Smiling,['Phil Regan'],4d6HGyGT8e121BsdKmw9v6,Sad

In [12]:
data_id.to_csv('songmoods.csv')